.formContainer {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
  }
  
  .form {
    display: grid;
    grid-gap: 20px;
  }
  
  .formGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .update-details{
    color:rgb(40, 40, 55)
  }
  label {
    font-weight: bold;
  }
  
  input[type="text"],
  textarea,
  select {
    max-width: 600px;
    width:30em;
    margin-top:1em;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #327ecf !important;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .delete-button{
    color:rgb(244, 241, 241);
    background-color: rgb(244, 76, 76) !important;   
  }
  .deleteDiv{
    border-radius: 0.5em;
    border:1px solid rgb(205, 201, 201);
    padding:0.5em;
    margin:1em;
  }
  button:hover {
    background-color: #0056b3!important;
  }
  .delete-button:hover{
    color:rgb(244, 241, 241);
    background-color: rgb(232, 43, 43) !important;   
  }
  /* Responsive styles */
  @media screen and (max-width: 768px) {
    .formGroup {
      grid-template-columns: 1fr;
    }
  
    .formGroup label {
      margin-bottom: 8px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .formGroup {
      display: block;
    }
  
    .formGroup label {
      display: block;
      margin-bottom: 8px;
    }
  
    input[type="text"],
    textarea,
    select {
      width: 80%;
    }
  }
  